.header {
  // color: green;
}

.main-container {
  // background: yellow;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 50%;
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  // height: 80%;
}

.top-container {
  width: 100%;
  border: 1px solid black;
  display: flex;

  div.first {
    display: flex;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
  }

  div.last {
    display: flex;
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
  }
}

.bottom-container {
  width: 60%;
  border: 1px solid blue;
  align-self: flex-end;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

.main-buttons-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  button {
    padding: 10px;
    // background-color: transparent;
    border-radius: 5px;
    // background-color: green;
    font-size: 20px;
    outline: none;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.secondary-buttons-container {
  display: flex;
  justify-content: space-between;
}

.next-container {
  display: flex;
  width: 40%;
  // align-items: center;
  height: 100%;
  // align-self: flex-end;

  p {
    font-size: 20px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}

.option-buttons-container {
  width: 60%;
  display: flex;
  align-items: center;
}

.generic-form-container {
  display: flex;
  // flex: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // border: 1px solid black;
  justify-content: space-evenly;
}

.users-container {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  // border: 1px solid orange;
  width: 100%;
}

.active-main-button {
  background-color: rgba(0, 0, 0, .35);
}
.name-and-age {
  // border: 1px solid black;
  display: flex;
}

.all-users-list-container {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;

  ul {
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &:hover {
        // background-color: rgba(0, 0, 0, .25);
        cursor: pointer;
      }
      span {
        &:hover {
          opacity: .35;
        }
      }
    }
  }
}

.single-name {
  display: flex;
  // border: 1px solid black;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, .105);
  }

  li {
    list-style-type: none;
  }
}

.send-button {
  padding: 10px;
  font-size: 15px;
  margin: 10px 0px;
  width: 65%;
  border-radius: 5px;
  outline: none;
}
.send-buttons {
  display: flex;
  // border: 1px solid black;
  align-items: center;
  width: 100%;
  margin: 30px 0px 10px 0px;
  button {
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;

    &:last-child {
      margin-left: 30px;
    }
  }
}

.input-field {
  width: 200px;
  height: 40px;
  font-size: 20px;
}

.input-age {
  height: 40px;
  font-size: 20px;
  width: 50px;
}
